h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: #ff006e;
}

.wrapper {
    width: 605px;
    background: #fff;
    border-radius: 15px;
    padding: 30px 30px 25px;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.4);
}

.wrapper header {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.wrapper .content {
    margin: 35px 0;
}

.content .quote-area {
    display: flex;
    justify-content: center;
}



.content .author {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    font-style: italic;
    justify-content: center;
}

.author span:first-child {
    margin: -7px 5px 0 0;
    font-family: monospace;
}

.wrapper .buttons {
    border-top: 1px solid #ccc;
}

.buttons .features {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.features ul {
    display: flex;
}

.features ul li {
    margin: 0 5px;
    height: 47px;
    width: 47px;
    display: flex;
    cursor: pointer;
    color: #ff006e;
    list-style: none;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 2px solid #ff006e;
    transition: all 0.3s ease;
}

.features ul li:first-child {
    margin-left: 0;
}

ul li:is(:hover, .active) {
    color: #fff;
    background: #ff006e;
}

ul .speech.active {
    pointer-events: none;
}

.buttons button {
    border: none;
    color: #fff;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    padding: 13px 22px;
    border-radius: 30px;
    background: #ff006e;
}

.buttons button.loading {
    opacity: 0.7;
    pointer-events: none;
}